# File Writing

# Operaton
#write text

#update text

#read text

#save text

# Function

**function:**

open()

close()

1) read()

2) readline()

3) write()

4) writelines()

5) seek() : defined the position

6) tell() : find the position

### Mode

**Mode**


1) w: writing

2) r: reading

3) a: appending

4) rb: read in binary

5) wb: write in binary

In [ ]:
f1 = open(file="mytext.txt",mode="w")

In [ ]:

f1.writelines("This is my first program\n")
f1.writelines("This is my second program")
f1.close()

In [ ]:
with open(file="mytext1.txt",mode="w") as f1:
    f1.writelines("This is my 1st program\n")
    f1.writelines("This is my 2nd program")

# Updation

In [ ]:
f2 = open(file = "mytext.txt",mode="a")

f2.writelines("This is new 3rd line\n")
f2.writelines("This is new 4th line\n")

f2.close()

In [ ]:
with open(file="mytext.txt", mode="r") as f50:
    var1 = f50.readline()

In [ ]:
print(var1)

In [ ]:
#Read file

f3 = open(file="python.txt",mode="r")

print(f3.read())

#print(f3.readline())

f3.close()

In [ ]:
#Read file

f3 = open(file="python.txt",mode="r")

t = f3.read()

#print(f3.readline())

f3.close()

In [ ]:
type(t)

In [ ]:
t.count("Python's")

In [ ]:
t.index("Python's", 213)

# File Reading

In [ ]:
#Read file

f3 = open(file="python.txt",mode="r")

f3.seek(212+4) #set position

print("Current Position: ",f3.tell())

print(f3.readline())

#print(f3.readline())

In [ ]:
st1 = str(f3.read())
print(st1)

# OS Operation

In [ ]:
import os

In [ ]:
dir(os)

In [ ]:
os.getcwd()

In [ ]:
os.chdir("D:\Recurrent Learning\Video\Python Turorials")

In [ ]:
os.getcwd()

In [ ]:
os.mkdir("temp_dir")

In [ ]:
path = "new_dir/analysis/titanic"

In [ ]:
os.makedirs(path)

In [ ]:
os.rmdir("temp_dir")

In [ ]:
os.rename("new_dir", "New")

In [ ]:
current_dir = os.getcwd()
current_dir

In [ ]:
os.path.join(current_dir, "New")

In [ ]:
if not os.path.exists("New"):
    os.mkdir("New")

In [ ]:
os.cpu_count()

###### https://www.w3schools.com/python/module_os.asp?ref=escape.tech

# Pickle:

In [1]:
dt = {"Name":["Rhaul","Priya","Shyam"],"Sector":["IT","HR","IT"]}

In [2]:
dt

{'Name': ['Rhaul', 'Priya', 'Shyam'], 'Sector': ['IT', 'HR', 'IT']}

In [3]:
import pandas as pd
dataset = pd.DataFrame(dt)
dataset

C:\Users\myrit\anaconda3\Lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

    Name Sector
0  Rhaul     IT
1  Priya     HR
2  Shyam     IT

In [4]:
import pickle

f4 = open(file="dict.pkl",mode="wb")

pickle.dump(dataset,f4)

f4.close()

In [5]:
import pickle

f4 = open(file="dict.sav",mode="wb")

pickle.dump(dataset,f4)

f4.close()

In [6]:
with open(file="dict.sav", mode = "rb") as f:
    result = pickle.load(f)

In [7]:
result

    Name Sector
0  Rhaul     IT
1  Priya     HR
2  Shyam     IT

# JSON

In [8]:
import json

person_dict = {"name": "Bob","languages": ["English", "French"],"married": True,"age": 32}


f1 =open(file = "person.json",mode="w")

json.dump(person_dict,f1)

f1.close()

In [ ]:
with open('person.json', 'w') as json_file:
  json.dump(person_dict, json_file)

In [9]:
with open('person.json', 'r') as f:
  data = json.load(f,)


print(data)

{'name': 'Bob', 'languages': ['English', 'French'], 'married': True, 'age': 32}

In [10]:
print(json.dumps(data,indent=4))

{
    "name": "Bob",
    "languages": [
        "English",
        "French"
    ],
    "married": true,
    "age": 32
}

In [11]:
import json

person = '{"name": "Bob", "languages": ["English", "French"]}'
person_dict = json.loads(person)


print(json.dumps(person_dict, indent = 2))

{
  "name": "Bob",
  "languages": [
    "English",
    "French"
  ]
}

# Working with CSV

In [14]:
import csv

field = ['Name',"Year","Branch","Marks"]

row = [{'Name':"Sagar","Year":2020,"Branch":"IT","Marks":89},
       {'Name': "Mukesh","Year":2021,"Branch":"CS","Marks":85},
       {'Name':"Priya","Year":2019,"Branch":"MBA","Marks":65},
       {'Name':"Rahul","Year":2020,"Branch":"BSc","Marks":88}]


with open(file="students.csv",mode = "w", newline ='') as f1:
    writer = csv.DictWriter(f1,fieldnames=field)
    
    writer.writeheader()
    writer.writerows(row)

In [13]:
row

[{'Name': 'Sagar', 'Year': 2020, 'Branch': 'IT', 'Marks': 89},
 {'Name': 'Mukesh', 'Year': 2021, 'Branch': 'CS', 'Marks': 85},
 {'Name': 'Priya', 'Year': 2019, 'Branch': 'MBA', 'Marks': 65},
 {'Name': 'Rahul', 'Year': 2020, 'Branch': 'BSc', 'Marks': 88}]

In [15]:
row = [{'Name':"Manish","Year":2024,"Branch":"MAth","Marks":65}]

with open(file="students.csv",mode = "a", newline ='') as f1:
    writer = csv.DictWriter(f1,fieldnames=field)
    writer.writerows(row)

In [16]:
n = ["3-idiot","KGF-2","Pushpa","RRR","83"]
act = ["Amir Khan","Yash","Allu Arjun","jr NTR & Ram Charan","Ranveer Singh"]
actress = ["Kareena Kapoor","Srinidhy Shetty","Rashmika Mandana","Alia Bhatt","Dipika Padukod"]
coll = [200,500,400,450,150]


movies = {"Name":n,"Actor":act,"Actress":actress,"Collection in cr":coll}

In [17]:
import pandas as pd
dataset = pd.DataFrame(movies)
dataset

      Name                Actor           Actress  Collection in cr
0  3-idiot            Amir Khan    Kareena Kapoor               200
1    KGF-2                 Yash   Srinidhy Shetty               500
2   Pushpa           Allu Arjun  Rashmika Mandana               400
3      RRR  jr NTR & Ram Charan        Alia Bhatt               450
4       83        Ranveer Singh    Dipika Padukod               150

In [18]:
type(dataset)

pandas.core.frame.DataFrame

In [19]:
dataset.to_csv("movies.csv")

In [20]:
dataset.to_excel("movies.xlsx")

In [21]:
import csv
f1 = open("movies.csv",mode="r")
reader = csv.reader(f1)

header = next(reader)
for i in reader:
    print(i)
    
f1.close()

['0', '3-idiot', 'Amir Khan', 'Kareena Kapoor', '200']
['1', 'KGF-2', 'Yash', 'Srinidhy Shetty', '500']
['2', 'Pushpa', 'Allu Arjun', 'Rashmika Mandana', '400']
['3', 'RRR', 'jr NTR & Ram Charan', 'Alia Bhatt', '450']
['4', '83', 'Ranveer Singh', 'Dipika Padukod', '150']